@import "../../vars.css";

.container {
  position: relative;
 
  padding: 10px;
  margin-top: 20px;
  z-index: 1;
  margin-left: 5%;
  margin-right: 5%;
}
.title {
  
  font-weight: var(--font-weight-bold);
  font-family: var(--font-root);
  color: var(--color-secondary);
  letter-spacing: 1.75px;
  text-transform: uppercase;
  margin-bottom: 0.2rem;
  text-align: center;
  
  font-size: 3rem;
  font-weight: 600;

 
}
.description {
  font-size: 22px;
  width:94%;
  font-weight: var(--font-weight-bold);
  font-family: var(--font-root);
  color: var(--color-secondary);
  margin-bottom: 0.2rem;
  text-align: center;
}


/* 

.detailscontainer {
  padding: 0.7rem;
  padding-bottom: 2rem;
  flex: 1;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
  margin-bottom: 2rem;
}
  */


@media screen and (max-width: 830px) {
  .navlinks{
   flex-direction: column;
  }
}